{% extends "public/templates/general.html" %}

{% block title %}
{% endblock %}

{% block main %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <img class="rounded" style="height: 500px; width: auto" src="https://images.unsplash.com/photo-1550309533-b1f8d1ff6112?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Cygnus</h1>
                        <hr>
                        <div class="col-md-10 mx-auto">
                            <p class="text-justify">
                                Cygnus is the initiative of a group of current and former Miami Dade College students, 
                                who want to help those struggling in science classes. By using this website, students
                                that want to receive tutoring in a specific subject will be able to connect with tutors
                                to receive one-on-one tutoring sessions.
                            </p>
                        </div>
                        <div class="col-md-10 mx-auto">
                            <p class="text-justify">
                                The staff of tutors is diverse and in order to offer their services, they had to undergo
                                a filtering process. For current students who want to provide tutoring, they must submit 
                                their transcripts and letter of recommendations that prove they excel in the specific
                                subject they want to be mentoring others.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}